{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Messages
        </div>
        <div class="card-body">
          <div class="overflow-y-auto" hx-ext="sse" sse-connect="{{ mercure(topic) }}" sse-swap="message" id="messages"
            style="max-height: 500px;">
            {% include 'conversation/messages.html.twig' %}
          </div>
          <hr>
          <form class="d-flex gap-3 mt-3" hx-post="{{ path('message.create') }}" hx-swap="none">
            <input type="text" class="form-control" aria-label="Messages" name="content" id="content"
              placeholder="message">
            <input type="hidden" name="conversationId" value="{{ conversation.id }}">
            <button class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

<script>
  const messages = document.getElementById('messages');
  const userId = '{{ app.user.id }}';

  document.addEventListener('DomContentLoaded', () => {
    scrollToBottom(messages);
  });

  document.body.addEventListener('htmx:sseBeforeMessage', (e) => {
    e.preventDefault();
    const obj = JSON.parse(e.detail.data);

    if (obj.authorId == userId) {
      // empty input field
      document.getElementById('content').value = '';
    }

    htmx.swap('#messages', `<message-element author-id="${obj.authorId}" user-id="${userId}" content="${obj.content}"></message-element>`, {
      swapStyle: 'beforeend'
    });

    scrollToBottom(messages);

  });

  function scrollToBottom(container) {
    container.scrollTo({
      top: container.scrollHeight,
      behavior: 'smooth'
    })
  }

</script>

{% endblock %}